<!-- Latest conversations > display last conversation > link to profile match -->
<!-- Current number of matches -->

<div class="row">
    <div class="col-xs-12 col-sm-4">
    <div class="info-card">
      <div class="info-title">Latest Messages</div>
      <div class="info-body">
      <% @messages.each do |message| %>
      <p><%= message.content %></p>
      <% end %>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4">
    <div class="info-card">
      <div class="info-title">Latest Matches</div>
      <div class="info-body">
      <% @matches.each do |match| %>
      <p><%= match.teacher_skill.skill.name %></p>
      <% end %>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="info-card">
        <div class="info-title">Latest Matches</div>
        <div class="info-body">
      <% @matches.each do |match| %>
      <p><%= match.teacher_skill.skill.name %></p>
      <% end %>
      </div>
    </div>
    </div>
  </div>

<%= link_to "Back", :back %>
