<h1>My awesome dashboard</h1>
<ul>
<li>
  <% @messages.each do |message| %>
  <p><%= message.content %></p>
  <% end %>
  </li>
<li><%= @users %></li>
<li>Number of matches: <%= @matches.count %></li>
</ul>


