<div class="flexed-items">
  <%= render 'sidebar' %>

  <div class="main">

    <div class="flexbox">
      <div class="match-card full">

      </div>
    </div>


  <%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
  </div>

</div>
