<div class="flexed-items">
<%= render 'sidebar' %>

<div class="main">
<h1>What do you want to do?</h1>

<%= link_to "Edit my profile", edit_user_registration_path %>
<%= link_to "Change my password", new_user_password_path %>

<%= link_to "Back", :back, class: "btn-start" %>
</div>
</div>
