











    <% if current_user.matches_with_type.any? %>
  <div class="container info">
      <div class="row">
        <div class="col-xs-12">
         <div class="count-full-match">
          <div class="count-title"><h5>FULL MATCHES</h5><hr/>
            <div class="count"><h5><%= current_user.matches_with_type.count %></h5></div>
            </div>
          </div>
        </div>
      <div class="row">
         <div class="col-xs-12">
          <div class="count-half-match">
            <div class="count-title"><h5>STUDENT MATCHES</h5><hr/>
            <div class="count"><h5><%= current_user.matches_with_type.count %></h5></div>
            </div>
          </div>
        </div>
        <div class="row">
         <div class="col-xs-12">
          <div class="count-half-match">
            <div class="count-title"><h5>TEACHER MATCHES</h5><hr/>
            <div class="count"><h5><%= current_user.matches_with_type.count %></h5></div>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  <% end %>
