
  <div class="flexed-items">
    <%= render 'sidebar' %>
<!-- Page content -->

      <div class="main">
        <%= render 'my_matches' %>
      </div>

  </div>
</div>

<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
