// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F7F7F7;
$light-green: #ecf3f1;
$light-light-green: #F7FAF9;
$semi-light-green: #a7f2e5;
$green-blue: #67d8c7;
$dark-green: #348882;
$semi-green: #49B7AA;
