.container-dashboard {
  padding: 25px 50px;
}
.flexed-items {
  display: flex;
  width: 100%;
}

#profile-card {
  text-align: center;
  width: 250px;
  height: 70px;
}

.no-hover-text-decoration {
  text-decoration: none !important;
}

.scroll-box {
  overflow: scroll;
  height: 70%;
}


