

.container-dashboard {
  padding: 25px 50px;
}
.flexed-items {
  display: flex;
}

.half-item {
  width: 50%;
  height: 100%;
}

#profile-card {
  text-align: center;
  width: 250px;
  height: 70px;
}

.no-hover-text-decoration {
  text-decoration: none !important;
}

.scroll-box {
  overflow: scroll;
  height: 70%;
}

.background {
    height: 1800px;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.background.student {
    background-position: right bottom;
}


