@media (min-width: 1200px) {
.container {
    margin-top: 0;
}
}

#nextButton

{
    -webkit-appearance: button;
    cursor: pointer;
    // position: absolute;
    margin-right: 0;
    margin-left: 1020px;
    position:fixed;
    background: #2A2D34;
    padding: 20px;
    border-radius: 5px;
    opacity: .8;
    flex: 0 0 30%;
    text-align: center;
    color: white;
    width: 200px;
    font-family: "Signika";
    letter-spacing: 2px;
    font-size: 25px;
    background-color: #5cc5b6;
}

#selectortitle {
    position: absolute;
    color:white;
    position: fixed;
    text-align: left;
    margin-top: 40px;
    margin-left: 32px;
    text-shadow: 1px 1px gray;
    font-weight: bold;
    letter-spacing: 2px;
  }

#backgroundSelection {
  background-image: linear-gradient(-225deg, rgba(240,240,240,0.6) 0%, rgba(223, 197, 230, 0.6) 50%), asset-url('triangle2.png');
   background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

#backgroundSelection2 {
  background-image: linear-gradient(-225deg, rgba(223, 197, 230, 0.6) 0%, rgba(240, 240, 240, 0.6) 50%), asset-url('triangle.png');
 background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;}
