
  .wrapper {
    width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  //flex-wrap: wrap;*/
  align-items: stretch;
  //flex-direction: row-reverse;

  }

  .image {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  height: 600px;

}

.formulario {
   padding: 10px 60px 10px 60px ;
   background-color: #f7f7f7;
}

.textinput
 {
  background-color: transparent;
  padding:20px;
  color: gray;
  border-radius: 10px;
 }

 .textcountry {
  color: gray;
  background: transparent;
 }

