
<%= link_to "Back", :back, class: "btn btn-xs btn-green" %>
<%= link_to "next", select_skills_to_teach_path, class: "btn btn-xs btn-green" %>


<div class="container">
  <div class="row">

    <div class="flexed-items">
      <div class="half-item">

        <h1>Select skills you want to learn</h1>

        <% @categories.each do |category|%>
        <h2><%= category.name %></h2>
        <% category.skills.first(2).each do |skill| %>
        <div id="test" class= "icon_card">


        </div>
        <% end %>
        <% end %>
      </div>



      <div class="half-item">

        <h1> Skills you have selected!</h1>
        <% current_user.user_skills.each do |user_skill| %>
        <% if user_skill.role == "student" %>
        <h3>
          <%= user_skill.skill.name %>
        </h3>
        <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

