
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link type= "text/scss" rel="stylesheet" href= "stylesheet.css">
</head>
<%= render 'layouts/banner' %>
<div class="container">
  <div class= "row justify-content-center">
   <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-futbol"></i>
      <div class="icon-text"><h6>sports & active</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card justify-content-center">
      <i class="fas fa-music"></i>
       <div class="icon-text"><h6>music & culture</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-paint-brush"></i>
       <div class="icon-text"><h6>arts & crafts</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-utensils"></i>
       <div class="icon-text"><h6>food & drink</h6></div>
    </div>
  </div>
 <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
     <i class="fas fa-laptop"></i>
       <div class="icon-text"><h6>technology & innovation</h6></div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32))>
   <div class= "card-description">
    <p>learn to</p>
    <h2>dive</h2>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32))>
  <div class= "card-description">
    <p>learn to</p>
    <h2>code</h2>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALJGF97V/image.png');">
  <div class= "card-description">
    <p>learn to</p>
    <h2>climb</h2>
  </div>
</div>
</div>
</div>
</div>
<%= render 'layouts/footer' %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


