
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link type= "text/scss" rel="stylesheet" href= "stylesheet.css">
</head>
<%= render 'layouts/banner' %>
<div class="container">
  <div class= "row justify-content-center">
    <div class="col-xs-12 col-sm-3">
      <div class= "icon_card">
        <i class="fas fa-futbol"></i>
        <div class="icon-text"><h6>what do you want to learn?</h6></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class= "icon_card">
        <i class="fas fa-paint-brush"></i>
        <div class="icon-text"><h6>what can you share?</h6></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class= "icon_card">
       <i class="fas fa-laptop"></i>
       <div class="icon-text"><h6>connect</h6></div>
     </div>
   </div>
   <div class="col-xs-12 col-sm-3">
    <div class= "icon_card">
      <i class="fas fa-exchange-alt"></i>
      <div class="icon-text"><h6>exchange skills & knowledge</h6></div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-4">
   <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL0ZL0RW/image.png');">
     <div class= "card-description">
      <p></p>
      <h2>challenge yourself</h2>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL15UD5W/image.png');">
    <div class= "card-description">
      <p></p>
      <h2>create opportunities for adventure</h2>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL5BJE9F/image.png');">
    <div class= "card-description">
      <p></p>
      <h2>learn something old</h2>
    </div>
  </div>
</div>
</div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FAL58KXBK/image.png');">
       <div class= "card-description">
        <p></p>
        <h2>learn something new</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALJGF97V/image.png');">
      <div class= "card-description">
        <p></p>
        <h2>share your passion</h2>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(10, 41, 11, 0.32), rgba(5, 23, 6, 0.32)), url('https://files.slack.com/files-pri/T02NE0241-FALLY2F9Q/image.png');">
      <div class= "card-description">
        <p></p>
        <h2>make new connections</h2>
      </div>
    </div>
  </div>
</div>
</div>
<%= render 'layouts/footer' %>


