<div class="container">
  <div class= "row justify-content-center">
   <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-futbol"></i>
      <div class="icon-text"><h6>sports & active</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card justify-content-center">
      <i class="fas fa-music"></i>
       <div class="icon-text"><h6>music & culture</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-paint-brush"></i>
       <div class="icon-text"><h6>arts & crafts</h6></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
      <i class="fas fa-utensils"></i>
       <div class="icon-text"><h6>food & drink</h6></div>
    </div>
  </div>
 <div class="col-xs-12 col-sm-2">
    <div class= "icon_card">
     <i class="fas fa-laptop"></i>
       <div class="icon-text"><h6>technology & innovation</h6></div>
    </div>
  </div>
</div>
