<div class="banner" style="background-image: url('<%= asset_path 'trianglify2.png' %>');">
  <div class="banner-content">
    <h1>SkillSwap</h1>
     <h2>new connections & new skills</h2>

      <%= link_to "start now", select_skills_to_learn_path, class: "btn btn-lg btn-start"  %>
  </div>
</div>
