<h1>Matches#show</h1>
<p>Find me in app/views/matches/show.html.erb</p>

<h2>SKILL</h2>

<%= @match.skill.name %>

<h2>Profile TEACHER user</h2>

<%= @match.teacher.email %>

<h2>Profile STUDENT user</h2>

<%= @match.student.email %>

<h3>messages between users</h3>

<h2>Send message:</h2>




