/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Signika"
}
.alert-info {
  background: #97dad0;
}
.alert-warning {
  background: #e497a8;
}
