.btn-start {
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #57d6c5;
  transition: background 0.3s ease;
}

.btn-start:hover {
  background: rgb(67, 183, 170);
}
