.btn-start {
  text-align: center;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #57d6c5;
  transition: background 0.3s ease;
  text-align: center;
  font-family: "Signika";
  letter-spacing: 2px;
}

.btn-start:hover {
  background: rgb(67, 183, 170);
  color: white;
}

.btn-green {
  text-align: center;
  color: rgb(67, 183, 170);
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid rgb(67, 183, 170);
  transition: background 0.3s ease;
  font-family: "Signika";
  font-weight: lighter;
  text-align: center;
}

.btn-xs.btn-green {
  background-color: rgba(255, 255, 255, 0.5686274509803921);
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  padding: 14px 15px;
  margin-top: 15px;
  height: 50px;
  text-align: center;
}

.btn-xs.btn-green.back {
  position: relative;
  bottom: 5px;
  left: 10px;

}

.btn-sm.btn-green {
  background-color: rgba(255, 255, 255, 0.5686274509803921);
  text-align: center;
  font-size: 15px;
 // width: 125px;
  height: 50px;
  text-align: center;
}

.btn-green:hover {
  text-decoration: none;
  color: $dark-green;
  border: 1px solid $dark-green;
}

.btn.btn-green.btn-match {
  text-align: center;
  margin-top: -18px;
  background-color: rgba(47, 137, 131, 0.55);
  border: 1px solid rgba(47, 137, 131, 0.55);
  color: white;
  opacity: 0.8;
}

.btn.btn-green.btn-match:hover {
  background-color: rgba(47, 137, 131, 0.9);
  border: 1px solid rgba(47, 137, 131, 0.9);
  opacity: 1;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

.btn-review {
  text-align: center;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #57d6c5;
  transition: background 0.3s ease;
}

#chat {
  width: 100%;
  font-family: "Signika";
  letter-spacing: 2px;
  font-size: 17px;
  color: white;
  text-align: center;
  background-color: #5cc5b6;
  opacity: 0.8;
}

#chat:hover {
  opacity: 1;
}
