
/* home landing page  */

.container_home {
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 0px;
  margin-left: 55px;
  margin-right: 40px;
}


.i-am-centered {
  margin: auto;
  opacity: .65;
  padding-right: 20px;
}


/* skills page */

.skills_container {
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
}

.container.info {
  width: 160px;
}


