.container_home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
  margin-top: 0px;
  margin-left: 55px;
  margin-right: 20px;
}

.skills_container {
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
}
