.container_home {
  display: grid;
  grid-template-rows: 210px 80px 300px 400px 70px;
  margin-top: 0px;
  margin-left: 35px;
}

.skills_container {
  margin-top: 40px;
  margin-left: 100px;
  align-items: center;
  justify-content: space-between;
}
