svg {
  color: blue;
}

.icon_card {
  text-align: center;
  margin: 15px auto;
  margin-right: 35px;
  margin-left: 35px;
  height: 200px;
  width: 180px;
}

.icon_card:hover {
  opacity: 1;
  transform: translateY(-10px);
}

.fas {
  color:rgb(79, 79, 79);
  font-size:80px;
}

.fas:hover {
  color: rgb(67, 183, 170);
}

.icon-text {
 color: rgb(79, 79, 79);
 text-align: center;
}

.icon-text:hover {
 color: rgb(67, 183, 170);
}

.svg path {
  fill: red;
}
