.icon_card {
  margin: 15px auto;
  margin-right: 35px;
  margin-left: 35px;
  height: 200px;
  width: 180px;
}

.icon_card:hover {
  opacity: 1;
  transform: translateY(-10px);
}

.fas {
  text-align: center;
  color:rgb(0, 225, 200);
  font-size:160px;
}

.fas:hover {
  color: rgb(67, 183, 170);
}

.icon-text {
 color: rgb(0, 225, 200);
 text-align: center;
}

.icon-text:hover{
 color: rgb(67, 183, 170);
}
