
  @font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: normal;
  src: local("Pacifico"),
    url("http://themes.googleusercontent.com/font?kit=fKnfV28XkldRW297cFLeqfesZW2xOQ-xsNqO47m55DA")
      format("truetype");
}

#matchedbutton {
  display: inline-block;
  margin-top: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 8px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: -o-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  font-size: 70px;
  color: #fff;
  background-image: asset-url("trianglify.png");
  background-size: 500px;
  width: 500px;
  height: 200px;
  text-align: center;
}

#matchedbutton span {
  margin-top:5px;
  display: inline-block;
  padding: 20px 30px;
  // background-color: #ec528d;
  // -webkit-gradient(
  //   linear,
  //   0% 0%,
  //   0% 100%,
  //   from(hsla(338, 90%, 80%, 0.8)),
  //   to(hsla(338, 90%, 70%, 0.2))
  // );
  // background-image: -webkit-linear-gradient(
  //   hsla(338, 90%, 80%, 0.8),
  //   hsla(338, 90%, 70%, 0.2)
  // );
  // background-image: -moz-linear-gradient(
  //   hsla(338, 90%, 80%, 0.8),
  //   hsla(338, 90%, 70%, 0.2)
  // );
  // background-image: -o-linear-gradient(
  //   hsla(338, 90%, 80%, 0.8),
  //   hsla(338, 90%, 70%, 0.2)
  // );
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.15);
  font-family: $font6, Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.7);
  -webkit-transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.1s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out,
    -moz-transform 0.1s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out,
    -o-transform 0.1s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

#matchedbutton:hover span {

  text-shadow: 0 -1px 1px rgba(255, 255, 255, 0.9),
    0 0 60px rgba(255, 255, 255, 0.8);
}

#matchedbutton:active,
#matchedbutton:focus {
  -webkit-box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
}

#matchedbutton:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}




//LITTLE MATCHED BUTTON
#littlematchedbutton {
  display: inline-block;
  margin-top: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  -moz-transition: -moz-box-shadow 0.1s ease-in-out;
  -o-transition: -o-box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  font-size: 10px;
  color: #fff;
  background-image: asset-url("trianglify.png");
  background-size: 500px;
  width: 80px;
  height: 80px;
}


#littlematchedbutton span {
  margin-top: 5px;
  display: inline-block;
  padding: 20px 15px;
  border-radius: 8px;
  // box-shadow: 0px 2px 0 #969696, 0 15px 20px rgba(0, 0, 0, 0.35);
  font-family: "Righteous", "cursive", Arial, sans-serif;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.7);
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

#littlematchedbutton:hover span {

  text-shadow: 0 -1px 1px rgba(175, 49, 95, 0.9),
    0 0 5px rgba(255, 255, 255, 0.8);
}

#littlematchedbutton:active,
#littlematchedbutton:focus {
  -webkit-box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 0 #969696, 0 12px 10px rgba(0, 0, 0, 0.3);
}

#littlematchedbutton:active span {
  -webkit-transform: translate(0, 4px);
  -moz-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
