/* The sidebar menu */
.sidenav {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    flex: 0 0 160px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%), asset-url('trianglify2.png');
    background-color: #eef5f3;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: "Signika";
    border-right: 1px solid #d7e2e1;
    text-align: center;
    h2 {
      font-size: 15px;
      color: #b9586d;
      font-family: "Signika";
      font-weight: lighter;
    }
    hr {
      background-color: transparent;
      border-top: 1px solid #b9586d;
    }
}


/* The navigation menu links */
.sidenav a {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #b9586d;
    font-family: 'Signika';
    text-decoration: none;
    display: block;
    line-height: 2.1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    font-weight: 500;
}

/* Style page content */
.main {
  overflow-x:hidden;
  h1 {
  font-family: "Signika";
  letter-spacing: 2px;
  font-size: 20px;
  color: #b9586d;
}
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#profile-card {
  overflow: hidden;
  height: 150px;
  width: 150px;
}


