/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0;
    background-color: #c2dcd9;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-family: "Signika";
    padding: 0px 30px;
    text-align: center;
    h2 {
      font-size: 19px;
      color: #86b3ae;
      font-family: "Signika";
      font-weight: lighter;
    }
    hr {
      background-color: transparent;
      border-top: 1px solid #86b3ae;
    }
}

/* The navigation menu links */
.sidenav a {

    text-decoration: none;
    font-size: 25px;
    color: #86b3ae;
    font-family: "Signika";
    font-weight: lighter;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#profile-card {
  overflow: hidden;
  height: 150px;
  width: 150px;
}

#sidebarlinks {

}

