
  .form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.skill-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.skill-choice {
  background: #08D4D9;
  padding: 20px;
  border-radius: 5px;
  opacity: .8;
  flex: 0 0 30%;
  text-align: center;
  width: 200px;
  height: 200px;
  }

.skill-choice:hover {
    opacity: 1;
    cursor: pointer;
  }

  .skill-choice.active {
  background: #FF4365;
  color: white;
  opacity: 1;
  }

.skill-choice-cat {
  background: #2A2D34;
  padding: 20px;
  border-radius: 5px;
  opacity: .8;
  flex: 0 0 30%;
  text-align: center;
  color:white;
  font-weight: bold;
  margin-left: 420px;
  }

.skill-choice-cat:hover {
    opacity: 1;
    cursor: pointer;
  }

