.whitecard {
  padding: 25px;
  margin-bottom: 25px;
  margin-left: -75px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  height: 438px;
  width: 900px;
  background-color: white;
  position: relative;
  transition: .2s;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}

.whitecard p {
  color: rgb(0, 226, 201);
  font-size: 18.5px;
}

.form_whitecard {
  padding: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  margin-left: -75px;
  height: 500px;
  width: 900px;
  background-color: white;
  position: relative;
  transition: .2s;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}

.form_whitecard p {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_whitecard h4 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.past_review_whitecard {
  display: flex;
  padding: 25px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 4px;
  margin-left: -75px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 300px;
  width: 900px;
  background-color: white;
  position: relative;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}

.column_left {
    float: left;
    width: 90px;
    height: 100%;
    margin: 20px;
    text-align: center;
    align: center;
}


.column_right {
 height: 100%;
 width: 65%;
 float: right;
 overflow-wrap: break-word;
 margin-right: 20px;
 margin-left: 60px;
 margin-top: 20px;
 margin-bottom: 20px;
}

