.match-title {
  text-align: center;
}

.whitecard {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding-top: 18px;
  padding: 21px;
  height: auto;
  background-color: white;
  position: relative;
  transition: .2s;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}



.whitecard p {
  color: rgb(0, 226, 201);
  font-size: 18.5px;
}

.whitecard2 {
  margin-top: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding-top: 18px;
  padding: 21px;
  height: auto;
  // background-color: white;
  position: relative;
  transition: .2s;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}



.whitecard2 p {
  color: rgb(0, 226, 201);
  font-size: 18.5px;
}



.form_whitecard {
  padding: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  margin-left: -75px;
  height: 500px;
  width: 900px;
  background-color: white;
  position: relative;
  transition: .2s;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}

.form_whitecard p {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form_whitecard h4 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.past_review_whitecard {
  display: flex;
  padding: 25px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 4px;
  margin-left: -75px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  font-family: 'Signika';
}

.column_left {
    float: left;
    width: 90px;
    height: 100%;
    margin: 20px;
    text-align: center;
    align: center;
}


.column_right {
 height: 100%;
 width: 65%;
 float: right;
 overflow-wrap: break-word;
 margin-right: 20px;
 margin-left: 60px;
 margin-top: 20px;
 margin-bottom: 20px;
}


.review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.review:last-child {
  border-bottom: none;
}
.review-body {
  flex-grow: 1;
}
.review-name {
  padding-left: 10px;
  min-width: 170px;
}
.review-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.review-name p {
  font-size: 13px;
  font-weight: lighter;
  font-family: "Signika";
  color: grey;
  opacity: 0.6;
  margin-top: 5px;
}

.review-stars {
  padding: 10px;
}

.review-name strong {
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.review-body {
  padding-left: 20px;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}
.review-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.review-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.review-body p {
  // margin: 6px 0;
  font-family: "Signika";
  color: grey;
}

.all_reviews_whitecard {
  padding-left: 107px;
  display: flex;
  padding: 25px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 4px;
  margin-left: -75px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 300px;
  width: 900px;
  background-color: white;
  position: relative;
  box-shadow: 1.5px 1.5px lightgrey;
  font-family: 'Signika';
}

.all_reviews_column_left {
    float: left;
    width: 90px;
    height: 100%;
    margin: 20px;
    text-align: center;
    align: center;
    margin-left: 85px;
}


.all_reviews_column_right {
 height: 100%;
 width: 65%;
 float: right;
 overflow-wrap: break-word;
 margin-right: 20px;
 margin-left: 60px;
 margin-top: 20px;
 margin-bottom: 20px;

}
