
<div class="review">
<div class="review_avatar text-center">
      <%= cl_image_tag review.user.photo, class: "avatar-large" %>
    </div>
  <div class="review-name text-center">

      <p><strong><%= review.first_name %></strong></p>
      <p><%= review.created_at.strftime("%b %d, %Y")%></p>
  </div>
  <div class="review-body text-left">
    <div class="review-stars">
    <strong><p><% review.rating.to_i.times do %>
            <i class="far fa-star"></i>
              <% end %></strong></p>
            </div>
            <div class="review-content">

    <p><%= review.content %></p>
    </div>
  </div>

</div>
