<div class="banner">
  <div class="banner-content">

    <h1 class="animated zoomIn">SkillSwap</h1>
     <h2>new connections & new skills</h2>

      <%= link_to "Start now!", wizard_add_learn_skill_path, class: "btn btn-lg btn-start"  %>
  </div>
</div>

